@page
@* @model LojaAppWeb.Pages.DetalhesModel *@


<h2 class="my-3">Title</h2>
<div class="row">
    <div class="col-4">
        <img class="img-fluid rounded" src="">
    </div>
    <div class="col-6">
        <h4 class="my-3">Sobre:</h4>
        <p>Description</p>
        <h4 class="my-3">Mais Info:</h4>
        <ul>
            <li>Label1: value1</li>
            <li>Label2: value2</li>
            <li>Label3: value3</li>
        </ul>
        <a class="btn my-3 btn-primary">Editar</a>
    </div>
</div>
