@page

@{
    ViewData["Title"] = "Privacidade";
}
@* <h1>@ViewData["Title"]</h1> *@


<div class="row justify-content-md-center">
    <div class="col-8 p-5">
        <h1>Política de Privacidade do Açougue Gourmet</h1>
        <p>No Açougue Gourmet, reconhecemos a importância da privacidade e estamos comprometidos em proteger suas informações pessoais. Esta política de privacidade descreve como coletamos, usamos e protegemos os dados que você compartilha conosco enquanto utiliza nosso site, interage conosco ou adquire nossos produtos e serviços.</p>

        <h2>Informações Coletadas</h2>
        <p>Podemos coletar as seguintes informações pessoais:</p>
        <ul>
            <li>Informações de contato, como nome, endereço de e-mail, número de telefone, endereço postal, etc.</li>
            <li>Dados de pagamento, se você fizer compras em nosso site.</li>
            <li>Informações demográficas, como idade, sexo, preferências e interesses.</li>
            <li>Informações de login, incluindo nome de usuário e senha.</li>
            <li>Informações de navegação, como histórico de visualização, localização, tipo de navegador e sistema operacional.</li>
        </ul>

        <h2>Como Usamos Suas Informações</h2>
        <p>Utilizamos as informações coletadas para os seguintes fins:</p>
        <ul>
            <li>Processar pedidos e transações.</li>
            <li>Melhorar nossos produtos e serviços.</li>
            <li>Personalizar sua experiência em nosso site.</li>
            <li>Enviar informações relevantes, atualizações e ofertas por e-mail.</li>
            <li>Responder a suas perguntas e fornecer suporte ao cliente.</li>
            <li>Analisar dados para melhorar nossa estratégia de marketing.</li>
        </ul>

        <h2>Proteção de Dados</h2>
        <p>Estamos comprometidos em proteger suas informações pessoais e adotamos medidas de segurança adequadas para evitar o acesso não autorizado, uso indevido ou divulgação de dados pessoais. Seus dados serão mantidos com confidencialidade e segurança.</p>

        <h2>Compartilhamento de Informações</h2>
        <p>Não vendemos, alugamos ou compartilhamos suas informações pessoais com terceiros, exceto quando necessário para cumprir obrigações contratuais, responder a solicitações legais, proteger nossos direitos, privacidade ou segurança, ou para cumprir com a lei.</p>

        <h2>Cookies e Tecnologias Semelhantes</h2>
        <p>Nosso site utiliza cookies e tecnologias semelhantes para melhorar sua experiência de navegação. Você pode controlar o uso de cookies nas configurações do seu navegador.</p>

        <h2>Acesso e Correção de Dados</h2>
        <p>Você tem o direito de acessar, corrigir ou excluir suas informações pessoais a qualquer momento. Entre em contato conosco para exercer esses direitos ou se tiver dúvidas sobre nossas práticas de privacidade.</p>

        <h2>Alterações na Política de Privacidade</h2>
        <p>Reservamos o direito de atualizar ou modificar nossa política de privacidade. Quaisquer alterações serão publicadas nesta página, e a data de revisão será atualizada para refletir a versão mais recente da política.</p>
    </div>
</div>



