@page

@{
    ViewData["Title"] = "Quem Somos";
}

@* <h1>@ViewData["Title"]</h1> *@

<div class="row justify-content-md-center">
    <div class="col-8 p-5">
        <h3>Bem-Vindo ao Açougue Gourmet – A Arte da Carne Nobre por Mais de Uma Década!</h3>
        <p>Há mais de 10 anos, o Açougue Gourmet tem sido sinônimo de qualidade excepcional e sabor inigualável no mundo das carnes gourmet no Brasil. Nossa paixão por carnes nobres e o compromisso com a excelência transformaram nosso açougue em um destino de escolha para os amantes da carne em busca de uma experiência gastronômica única.</p>

        <h5>O Nosso Compromisso com a Qualidade</h5>
        <p>
        <img class="img-fluid float-end p-3"
                 style="max-width: 40%" src="/images/QuemSomos.jpg" />
        No Açougue Gourmet, a qualidade é a nossa prioridade número um. Trabalhamos incansavelmente para oferecer a você os cortes mais finos e saborosos de carne, selecionados a dedo por nossos especialistas em carne. Nossos fornecedores são escolhidos com rigor e comprometidos com práticas sustentáveis, garantindo que todas as nossas carnes sejam produzidas de maneira ética e responsável.
        </p>

        <h5>Uma Variedade de Cortes Gourmet</h5> <p>Em nosso açougue, você encontrará uma ampla variedade de cortes gourmet, desde suculentos filés mignon e costelas suínas até deliciosos cortes de cordeiro e carne bovina de qualidade premium. Nossos especialistas estão à disposição para ajudá-lo a escolher o corte perfeito para sua refeição, e também oferecemos dicas e receitas para aprimorar o seu churrasco ou preparo culinário.</p>
        <h5>Experiência Gourmet</h5> <p>No Açougue Gourmet, acreditamos que a carne é muito mais do que apenas comida; é uma experiência. É por isso que não poupamos esforços para garantir que cada visita ao nosso açougue seja uma jornada culinária extraordinária. Além dos cortes de carne de primeira linha, também oferecemos temperos exclusivos, molhos artesanais e acompanhamentos especiais para elevar o seu churrasco ou refeição a outro nível.</p>
        <h5>Atendimento Personalizado</h5> <p>Nossa equipe dedicada e conhecedora está à sua disposição para fornecer orientações, recomendações e informações sobre nossos produtos. Estamos aqui para ajudá-lo a criar refeições memoráveis e satisfazer suas necessidades específicas de carne gourmet.</p>
        <h5>Visite-Nos Hoje</h5> <p>Convidamos você a visitar o Açougue Gourmet e descobrir o que torna nosso açougue gourmet verdadeiramente excepcional. Deixe-nos fazer parte da sua jornada culinária, fornecendo-lhe as melhores carnes nobres e os melhores serviços no Brasil. Sinta o sabor da tradição e da qualidade em cada mordida. Venha nos conhecer e saborear o que há de melhor em carne gourmet.</p>
        <p>Obrigado por escolher o Açougue Gourmet como seu fornecedor de carne gourmet. Estamos ansiosos para atendê-lo e compartilhar a nossa paixão pela carne com você.</p>
    </div>
</div>